/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); */
:root {
  font-size: 16px;
  font-family: 'Open Sans';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: rgb(6, 245, 233);
}

#main {
  position: relative;
}

.sub {
  padding-top: 20px;
  padding-bottom: 6vh;
  border: 1px solid rgba(255,255,255,0.18);
  background-color: #ffffff;
  padding-left: 15%;
  padding-right: 30%;
}

.tb {
  padding-top: 50px;
  padding-bottom: 6vh;
  border: 1px solid rgba(255,255,255,0.18);
  background-color: #ffffff;
  padding-left: 15%;
  padding-right: 15%;
}

.del {
  color: #c52222;
}

.sub h3, .tb h3 {
  font-weight: bold;
  color: rgb(63, 63, 63);
}



.sidebar {
  background-color: #585858;
  height: 100vh;
  position: absolute;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item, .ins {
  width: 100%;
}


.link {
  display: flex;
  align-items: center;
  filter: grayscale(100%) opacity(0.7);
  height: 8rem;
  font-size: 1.1rem;
  
}

.link:hover {
  filter: grayscale(0%) opacity(1);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 0.2rem;
  color: rgb(60, 201, 194);
  /* Adding destyling for buttons */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.link-text:focus {
  outline: none;
}

.link svg {
  width: 2.0rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.sidebar:hover {
  width: 13rem;
}

.sidebar:hover .link-text {
  display: inline;
}

