/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); */
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cecece;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* main {
  margin-left: 5rem;
} */

.sub {
  padding-top: 10px;
  padding-bottom: 12vh;
  border: 1px solid rgba(255,255,255,0.18);
  background-color: #ffffff;
  padding-left: 15%;
  padding-right: 30%;
}

.sub h3 {
  font-weight: bold;
  color: rgb(60, 201, 194);
}

.sidebar {
  position: fixed;
  background-color: #3d3a3a;
  height: 100vh;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item, .ins {
  width: 100%;
}

.ins {
  margin-top: 30vh;
}

.link {
  display: flex;
  align-items: center;
  height: 5rem;
  filter: grayscale(100%) opacity(0.7);
  
  font-size: 1.2rem;
}

.link:hover {
  filter: grayscale(0%) opacity(1);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 0.5rem;
  color: rgb(60, 201, 194)
}

.link svg {
  width: 2.3rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.sidebar:hover {
  width: 16rem;
}

.sidebar:hover .link-text {
  display: inline;
}
