#studio-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#studio-composition tr:hover {
    cursor: pointer;
}

#studio-composition td img{
    height: 8rem;
}

#studio-contributions td img{
    height: 8rem;
}

#add-instrument-btn {
    margin-left: 2rem;
}

#approve-contributions-btn {
    margin-left: 2rem;
}

#studioSettings{
    margin-top: 2rem;
}