.bio {
  flex: 1 1;
  align-content: flex-start;
  margin: 5px;
}

.pic {
  align-self: center;
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.name {
  align-self: left;
  flex-basis: auto;
  color: rgb(58,175,169);
  /* font-weight: bold; */
  font-size: x-large;
}

.subName {
  align-self: left;
  flex-basis: auto;
  color: rgb(106, 107, 107);
  font-size: large;
}

.changePic {
  align-self: center;
  background: #222222;
  width: 150px;
  height: 40;
  color: rgb(255,255,255);
  margin-top: -15px;
}

.studioSection {
  flex: 5 0;
  align-items: stretch;
}

#studioHeader {
  color: rgb(34,34,34);
  font-weight: bold;
  padding: 10px;
}

.pad {
  padding: 20px;
  justify-content: space-around;
}

.studio {
  font-size: 25px;
  padding: 10px;
  flex: 1 0;
  background: #3aafa9;
  border-radius: 8px;
  color: rgb(255,255,255);
  font-weight: bold;
}
