.bio {
  flex: 1 1;
  /* align-content: flex-start; */
  justify-content: left;
  padding: 15px;
}

.pic {
  align-self: center;
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.name {
  flex-basis: auto;
  color: rgb(58,175,169);
  font-size: x-large;
}

.subName {
  flex-basis: auto;
  color: rgb(106, 107, 107);
  font-size: large;
}

.changePic {
  /* align-self: center; */
  /* background: #222222; */
  /* width: 150px; */
  /* height: 30; */
  flex-basis: auto;
  border-radius: 8px;
  border: 1px solid grey;
  /* color: rgb(255,255,255); */
}

hr {
  border-top: 0.5px solid lightgrey;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 0px;
  padding: 10px;
}

.studioSection {
  flex: 3 0;
  align-items: stretch;
  padding: 10px;
}

.studioHeader {
  flex-direction: column;
  color: rgb(34,34,34);
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;

  padding: 10px;
  justify-content: space-between;
}

.studioHeader p {
  color: grey;
  font-weight: 400;
}

.addStudio {
  margin: 5px;
  background-color: #3aafa9;
  flex-basis: auto;
  color: white;
  border-radius: 8px;
  padding: 10px;
}


.pad {
  padding: 20px;
  justify-content: space-around;
}

hr {
  border-top: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -1px;
}

.studio:hover {
  transition: all .8s ease;
  text-decoration: none;
  color: rgb(255,255,255);
  box-shadow:0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

.studio {
  transition: all .8s ease;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 0;
  background: #3aafa9;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);  ;
  border-radius: 16px;
  color: rgb(255,255,255);
  border: none;
  width: 100%;
}

.studioTitle {
  font-size: 40px;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 10px;
}

.studioDescription {
  padding-left: 15px;
  padding-bottom: 15px;
  color: black;
}

.genreContainer {
  flex-wrap: wrap;
  padding: 5px;
}

.genres {
  margin: 5px;
  /* background: #242424; */
  /* width: 150px; */
  /* height: 30; */
  border: 1px solid grey;
  flex-basis: auto;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 8px;
  padding: 10px;
}

.studioGenres {
  padding: 10px;
}

.modal #firstLabel ~ label{
  margin-top: .5rem;
}
