html {
  font-size: 120%;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body {
  background-color: rgb(31, 31, 31);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ddd8d8;
}

.naviBtn {
  outline: none;
  height: 2.5em;
  width: auto;
  font-size: 18px;
  color: #3d3d3d;
  background-color: #ddd8d8;
  border-radius: 0.3em;
}

.naviBtn:hover {
  background-color: #ffcab1;
}

.filterBtn {
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2em;
  width: auto;
  font-size: 14px;
  color: #363636;
  background-color: #f7f7f7;
}

.filterBtn:hover {
  background-color: #b6f6ff;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
}

#modifier {
  margin: 5% 40vw auto auto;
  
  text-align: end;
}
.dbOp {
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 2em;
  width: auto;
  font-size: 16px;
  color: #292929;
  background-color: #c5c5c5;
  border-radius: 0.3em;
}

.dbOp:hover {
  background-color: #ffd5d5;
}

.opBtns {
  margin-top: 10px;
  font-size: 14px;
}