html, body {
  height: auto;
  margin: auto auto 5em auto;
  width: 80%;
  font-family: 'Noto Sans', sans-serif;
  color: #585458;
}

#header {
  margin-top: 2em;
  text-align: center;
}
#navbar {
  text-align: center;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
hr {
  width: 85%;
}
#navbar li {
  display: inline-block;

}
#navbar a {
  text-decoration: none;
  padding: 5px 25px;
  color: #4e4b4e;
}
#navbar a:hover {
  background-color: #9eecff;
  font-weight: 600;
}

.intro, .instructions, .about {
  margin: 5% 10%;
}

.instructions li {
  padding-bottom: 5px;
}

#box {
  margin: auto;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-style: solid;
}
#guesser {
  margin: auto;
}

/*----Display sliders and txt boxes in two columns----------------------------*/
.sliders {
  float: left;
  width: 50%;
}
.textboxes {
  float: left;
  width: 50%;
}
.guesser:after {
  content: "";
  display: table;
  clear: both;
}

/*----Slider css--------------------------------------------------------------*/
.slidecontainer p, .slidecontainer input {
  display: inline;
}
.slidecontainer {
  text-align: right;
  margin-top: 50px;
  margin-right: 25px;
}

/*----Textbox css-------------------------------------------------------------*/
.textbox {
  text-align: left;
  margin-top: 50px;
  margin-left: 25px;
}

/*----Button css--------------------------------------------------------------*/
button {
  margin-top: 50px;
  width: 100%;
}

/*----Percents css------------------------------------------------------------*/
#percents p {
  text-align: center;
}
