html, body {
  height: auto;
  margin: auto auto 5em auto;
  width: 80%;
  font-family: 'Noto Sans', sans-serif;
  color: #585458;
}

#header {
  margin-top: 2em;
  text-align: center;
}
#navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

hr {
  width: 85%;
}
#navbarcontainer {
  display: flex;
  justify-content: space-evenly;
}
#navbar li {
  justify-content: space-evenly;
  padding: 10px;
}
#navbar a {
  text-decoration: none;
  padding: 5px 25px;
  position: relative;
  padding-bottom: 10px;
  color: #4e4b4e;
}
#navbar a.active {
  border-bottom: 2px solid black;
  font-weight: 600;
}
#navbar a:not(.active):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  color: #4e4b4e;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#navbar:not(.active) a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.intro, .instructions, .about {
  margin: 5% 10%;
}

.instructions li {
  padding-bottom: 5px;
}

#box {
  margin: auto;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-style: solid;
}
#guesser {
  margin: auto;
}

/*----Display sliders and txt boxes in two columns----------------------------*/
.sliders {
  float: left;
  width: 50%;
}
.textboxes {
  float: left;
  width: 50%;
}
.guesser:after {
  content: "";
  display: table;
  clear: both;
}

/*----Slider css--------------------------------------------------------------*/
.slidecontainer p, .slidecontainer input {
  display: inline;
}
.slidecontainer {
  text-align: right;
  margin-top: 50px;
  margin-right: 25px;
}

/*----Textbox css-------------------------------------------------------------*/
.textbox {
  text-align: left;
  margin-top: 50px;
  margin-left: 25px;
}

/*----Button css--------------------------------------------------------------*/
button {
  margin-top: 50px;
  width: 100%;
}

/*----Percents css------------------------------------------------------------*/
#percents p {
  text-align: center;
}
