html {
  background-color: #1c1c1b;
}
body {
  color: #a6a5a4;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  color: #1DB954;
}

.list {
  border-style: solid;
  border-color: #a6a5a4;
}

.headers {
  display: flex;
  justify-content: space-between;
  color: white;
}

.song {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

#track, .track {
  width: 14.2%;
  text-align: center;
}
#artist, .artist {
  width: 14.2%;
  text-align: center;
}
#album_name, .album_name {
  width: 14.2%;
  text-align: center;
}
#release_date, .release_date {
  width: 14.2%;
  text-align: center;
}
#genres, .genres {
  width: 14.2%;
  text-align: center;
}
#album_cover, .album_cover {
  width: 14.2%;
  text-align: center;
}
#audio, .audio {
  width: 14.2%;
  text-align: center;
}

img {
  width: 125px;
  height: 125px;
}
a, a.link {
  color: #a6a5a4;
}
audio {
  width: 80%;
}

.track {
  font-variant: small-caps;
}

.artist {
  font-weight: bold;
  font-size: 120%;
}

.album_name {
  font-style: italic;
}

.release_date, .genres {
  font-size: 75%;
}

#favorite_song {
  color: #1DB954;
}

#end {
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

.genres ul {
  list-style-type: none;
  text-align: left;
  margin-left: 30%;
  margin-top: 0%;
}

.genres li:before {
  content: '\2012';
  position: absolute;
  margin-left: -20px;
}