song {
  font-size: 1.25rem;
  display: block;
  margin-top: 1.25rem;
}

heading {
  font-size: 1.7rem;
}

track, artist, album, album_cover, release_date, genres, image {
  display: inline;
}

track {
  font-size: 1.05rem;
}
artist {
  color: blue;
}
artist a {
  text-decoration: none;
}
album {
  font-style: italic;
}

album a {
  text-decoration: none;
  color: black;
}

image {
  display: block;
  background-repeat: no-repeat;
  height: 10rem;
  width: 10rem;
  background-size: cover;
  background-position: center;
}

#Notes {
  background-image: url("images/NotesOnAConditionalForm.jpg");
}

#Weird {
  background-image: url("images/TooWeirdToLive.jpg");
}

#Parachutes {
  background-image: url("images/Parachutes.jpg");
}

#Justice {
  background-image: url("images/AndJusticeForAll.jpg");
}

#Rainbows {
  background-image: url("images/A1MwaIeBpwL._AC_SL1500_.jpg");
}

#III {
  background-image: url("images/Brockhampton_-_Saturation_III.png");
}

#ShootMe {
  background-image: url("images/Shootmeyouthpart1.jpg");
}

#Moonrise {
  background-image: url("images/Moonrise_(Day6_album)-cover.jpg");
}

#Narcissist {
  background-image: url("images/Narcissist.jpg");
}

#Cautious {
  background-image: url("images/Cautious.jpg");
}
#GKMC{
  background-image: url("images/Good\ Kid\,\ M.A.A.D.\ City.jpg");
}

#Currents {
  background-image: url("images/Currents.jpg");
}