* {
    background: #fbfcff;
    color: #2d4654;
    font-family: "Noto Sans", Calibri, sans-serif;
}

body {
    max-width: 650px;
    margin: auto auto 3em auto;
    font-size: 100%;
}

h1 {
    margin-bottom: 0;
}

h1>a {
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

.subtitle {
    text-align: right;
    margin: 0;
    font-style: italic;
}

h2,
h3,
h4 {
    color: #243b4a;
}

hr {
    border-color: #805e73;
}

a,
.subtitle {
    color: #243b4a;
}

pre {
    padding: .5em;
    overflow: auto;
}

.navbar {
    text-align: center;
}

.topbutton {
    float: right;
}

#footer {
    display: block;
    text-align: right;
    margin: 0;
    font-style: italic;
}

#game {
    width: 240px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.game-buttons {
    text-align: center;
}

.game-forms {
    text-align: center;
}

.messages {
    float: center;
    text-align: center;
}

.message {
    display: none;
    color: #ff6961;
}

#no-message.message {
    display: inline;
}

#pangram.message {
    display: none;
    color: #0047ab;
}

.score {
    width: 100%;
    height: 100px;
}

.points {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.rank {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.wordlists {
    width: 100%;
    height: 200px;
}

.today-answers {
    width: 50%;
    height: 100%;
    float: left;
}

.yesterday-answers {
    width: 50%;
    height: 100%;
    float: left;
}

.update-answers {
    height: 150px;
    border: solid;
    overflow: scroll;
}

.answers {
    text-align: center;
}

#random-answers {
    display: none;
    text-align: center;
}

#update-random {
    display: block;
    width: 225px;
    height: 150px;
    border: solid;
    float: right;
    overflow: auto;
}

.restart {
    width: 100%;
}

.restart-daily {
    width: 50%;
    float: left;
    text-align: center;
}

.restart-random {
    width: 50%;
    float: left;
    text-align: center;
}

img {
    background: transparent;
    position: absolute;
    display: none;
}

img.bg {
    display: block;
}

#dictionary {
    text-align: right;
}

#playfield #bg {
    height: 100px;
    width: 100px;
}

#comb1 { 
    left: 1px;
    top: 51px;
}

#comb2 {
    left: 80px;
    top: 1px;
}

#comb3 {
    left: 159px;
    top: 51px;
}

#comb4 {
    left: 1px;
    top: 149px;
}

#comb5 {
    left: 80px;
    top: 199px;
}

#comb6 {
    left: 159px;
    top: 149px;
}

#comb7 {
    left: 80px;
    top: 100px;
}

.clickedComb {
    height: 80px;
    width: 80px;
}

.clickedComb#comb1 {
    left: 11px;
    top: 61px;
}

.clickedComb#comb2 {
    left: 90px;
    top:11px;
}

.clickedComb#comb3 {
    left: 169px;
    top: 61px;
}

.clickedComb#comb4 {
    left:11px;
    top:159px;
}

.clickedComb#comb5 {
    left: 90px;
    top: 209px;
}

.clickedComb#comb6 {
    left: 169px;
    top: 159px;
}

.clickedComb#comb7 {
    left: 90px;
    top: 110px;
}